.parent{
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}
 .child{
   width: 47%;
 }

 .child img{
   width: 100%;
 }
 h2{
   color: red;
   font-size: 30px;
 }
 p{
   font-size: 20px;
   line-height: 30px;
 }

 h1{
   color: red;
   text-align: center;
 }

.gallery{
  width: 90%;
  margin: auto;
}
 .gallery img{
   width: 32%;
   /*margin: 1%;*/
   height: 300px;
 }

 /*media queries*/
 @media only screen and (max-width: 808px){
   .gallery{
     width: 90%;
   }
    .gallery img{
      width: 45%;
    }
 }

 @media only screen and (max-width: 1024px){
   .parent{
    flex-wrap: wrap;
     width: 90%;
     margin: auto;

   }
    .child{
      width: 100%;
    }

    .child img{
      width: 100%;
      height: 300px;
    }
 }
