.submenu
{
	position: absolute;
	width: 150px;
	background-color: red;
}

.submenu a{
	display: block;
	position: relative;
}
.submenu a:hover{
	background-color: pink;
}
.submenu li{
	display: none;
	position: absolute;
}
.submenu li:hover > .brands{
	display: block;
}
.brands li:hover > ul{
	display: block;
}